<ul class="custom-nav nav nav-tabs">
	<li class="<%= active?(root_path) %>">
		<!-- <a href="#">Home</a> -->
		<%= link_to 'Home' , root_path %>
	</li>
	<li class="<%= active?( posts_path) %>">
		<!-- <a href="#">Profile</a> -->
		<%= link_to 'Request Entries' , posts_path %>
	</li>

	<li class="<%= active?( new_post_path) %>">
		<%= link_to 'New post' , new_post_path %>
	</li>
	<li class
	="dropdown pull-right">
		 <a href="#" data-toggle="dropdown" class="dropdown-toggle">Account<strong class="caret"></strong></a>
		<ul class="dropdown-menu">
			<li>
				<!-- <a href="#">Action</a> -->
				<%= link_to 'Edit Details' , edit_user_registration_path %>
			</li>
			<li>
				<%= link_to 'Log out' , destroy_user_session_path , method: :delete %>
			</li>
		</ul>
	</li>
</ul>
