<h1>WELCOME ADMIN</h1>

<div class="carousel slide" id="carousel-563343" style=" margin-top: 25px; ">
	<ol class="carousel-indicators">
		<li class="active" data-slide-to="0" data-target="#carousel-563343">
		</li>
		<li data-slide-to="1" data-target="#carousel-563343">
		</li>
		<li data-slide-to="2" data-target="#carousel-563343">
		</li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img alt="Carousel Bootstrap First" src="http://lorempixel.com/output/sports-q-c-1600-500-1.jpg" />
			<div class="carousel-caption">
				<h4>
					First Thumbnail label
				</h4>
				<p>
					Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
				</p>
			</div>
		</div>
		<div class="item">
			<img alt="Carousel Bootstrap Second" src="http://lorempixel.com/output/sports-q-c-1600-500-2.jpg" />
			<div class="carousel-caption">
				<h4>
					Second Thumbnail label
				</h4>
				<p>
					Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
				</p>
			</div>
		</div>
		<div class="item">
			<img alt="Carousel Bootstrap Third" src="http://lorempixel.com/output/sports-q-c-1600-500-3.jpg" />
			<div class="carousel-caption">
				<h4>
					Third Thumbnail label
				</h4>
				<p>
					Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
				</p>
			</div>
		</div>
	</div> <a class="left carousel-control" href="#carousel-563343" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-563343" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<h2>Items Pending Your Approval</h2>
<div class='container-fluid'>
  <div class='pending-homepage row'>   
    <% @pending_approvals.each do |pending_approval| %>
      <div class='homepage-block col-md-3'>
        <h4>
          <%= pending_approval.user.full_name %>
        </h4>

        <p>
          <span class='pending-details'>Date Submitted:</span> <%= pending_approval.date %>
        </p>

        <p>
          <span class='pending-details'>Rationale:</span> <%= truncate pending_approval.rationale, length: 42 %>
        </p>
        <div class='row'>
		  <div class='col-md-6 column'>
		      <%= link_to 'Approve', approve_post_path(pending_approval), class: 'btn btn-success btn-block' %>

		  </div>
		  <div class='col-md-6 column'>
  			<%= link_to 'Review', edit_post_path(pending_approval), class: 'btn btn-warning btn-block' %>
		  </div>
		</div>
      </div>
      
	<% end %>
 </div>

  <div class='pending-homepage'>
    <div class='pending-homepage row'>
	    <h2>Confirmation Log</h2>
	    <hr>

	    <%= render partial: 'confirmation_log', locals: { recent_audit_items: @recent_audit_items } %>
	    <div class='clearfix'></div>
		<hr>
			<%= link_to 'View All Items', audit_logs_path, class: 'btn btn-primary' %>
  		</div>
  </div>
</div>